.updatemakeproject1{
    height: 70vh;
    display: flex;
    justify-content: center;


}
.contentmakeproject1{
    width: 30%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: -moz-fit-content;
    height: fit-content;
    flex-direction:column



}

.btn-spacingaddmakeproject1{
    margin-left: 20px;
    transform: scale(1.1);
    transition: all 0.3s ese-in-out;
    padding-left: 2rem;
    padding-right: 2rem;

}

.paddingmastertopmakeproject1{
    padding-bottom: 51px;
    padding-top: 20px;
}
.btn-spacingmakeproject1{
    margin: right 0.7rem;
    margin-left: 20px;
    transform: scale(1.1);
    transition: all 0.3s ese-in-out;
    padding-left: 4rem;
    padding-right: 4rem;

}
